<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Profile">
    <md-content class="md-padding">
      <div ui-view="profile"></div>
    </md-content>
  </md-tab>
  <md-tab label="Password">
    <md-content class="md-padding">
      <div ui-view="password"></div>
    </md-content>
  </md-tab>
  <md-tab label="Picture">
    <md-content class="md-padding">
      <div ui-view="picture"></div>
    </md-content>
  </md-tab>
  <md-tab label="Email">
    <md-content class="md-padding">
      <div ui-view="email"></div>
    </md-content>
  </md-tab>
  <md-tab label="Address">
    <md-content class="md-padding">
      <div ui-view="address"></div>
    </md-content>
  </md-tab>
</md-tabs>
